<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <style type="text/css">
    .form {
    border: 1px solid black;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
    background-color:grey;
  }
  .field-wrap {
    width: 10%;
    margin: auto;
    margin-left: 30%;
  }
  #signuptitle {
    margin-left: 35%;
  }

  </style>
</head>
<body background="jack.jpg">
  <div class="form">
      
  
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h2 id="signuptitle"><span><i>Sign Up</span></i></h2>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label><br>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label><br>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label><br>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div><br>
          <div class="field-wrap">
            <label><br>
              confirm Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div><br><br>
          </div>
          
          <button type="submit" class="button button-block"/>Get Started</button><br><br>
          <li><a href="sign in.html"><u>if you already have an account click here to log in</u></a></li>
          
          </form>
          </div>
      
</div> <!-- /form -->

</body>
</html>
